section {
  border: 1px solid #596e79;
  border-radius: 10px;
  padding: 20px 10px;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

h1,
h2 {
  font-family: "Montserrat Alternates", sans-serif;
}

p,
li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

div ul {
  padding-left: 0;
}

footer {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  padding: 20px 50px;
  font-size: 14px;
}

div.container {
  max-width: 800px;
  padding: 40px 20px 20px 20px;
  margin-top: 40px;
}

.row {
  padding: 10px 20px;
}

div.form {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.current-city {
  padding-top: 30px;
}

.time-date {
  padding-top: 50px;
}

.search-field {
  padding: 8px;
  border: 1px solid #596e79;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
}

.search-btn {
  background: #0b8457;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.forecast {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.emoji {
  font-size: 24px;
}

p.current-location {
  margin-top: 10px;
  font-weight: 600;
  color: #0b8457;
  text-decoration: underline;
}

p.current-location:hover {
  cursor: pointer;
}

ul.weather-info {
  text-align: center;
  margin: 20px auto;
}

li.pseudo-list {
  display: inline;
  padding: 0px 20px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}
